<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="medio.maintainanceppj">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JadwalKegiatan"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="medio.maintainanceppj.MainActivity" />
        </activity>

        <activity
            android:name=".Tentang"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="medio.maintainanceppj.MainActivity" />
        </activity>

        <activity
            android:name=".Tambah"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="medio.maintainanceppj.MainActivity" />
        </activity>

        <activity
            android:name=".Bantuan"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="medio.maintainanceppj.MainActivity" />
        </activity>

        <activity
            android:name=".MenuEdit"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="medio.maintainanceppj.MainActivity" />

        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />

        <receiver android:name=".AlarmReceiver" android:exported="true" android:enabled="true"> </receiver>
        <receiver android:name=".NotificationManager2" android:exported="true" android:enabled="true"> </receiver>

        <activity android:theme="@style/Base.AlertDialog.AppCompat.Light" android:name=".Alert"> </activity>

    </application>

</manifest>